<ul>

	<% @seasons.each do |s| %>
		<li>Season Number: <%= s.season%></li>
		<li>Season Title: <%= s.title%></li>
		<li>Created At: <%= s.created_at%></li>
		<li> <%= link_to "More Information", controller: "seasons", action: "show", id: s.id %> </li>
		<br>
	<% end %>

</ul>