<div class="panel panel-primary">
	<% @seasons.each do |s| %>
		<div class="panel-body"
			<ul class= "list-group">
				<li class="list-group-item">
					Season 
					<%= s.season%>
				</li>
				
				<li class="list-group-item">
					Episodes in the season - 
					<%= Episode.where(season_id: s.id).count%>
				</li>
				
				<!--<li>Created At: <%= s.created_at.to_formatted_s(:long)%></li>-->
				
				<li  class="list-group-item"> 
					<%= link_to "Episodes", 
						{controller: "episodes", 
						action: "list_all_episodes", 
						id: s.id},
						:class => "btn btn-primary"
					%>
				</li><br>
			</ul>
		</div>
	<% end %>	
</div>