<% @seasons.each do |s| %>
	<ul class= "ses-list">
		<li>
			Season 
			<%= s.season%>
		</li>
		
		<li>
			Episodes in the season - 
			<%= Episode.where(season_id: s.id).count%>
		</li>
		
		<!--<li>Created At: <%= s.created_at.to_formatted_s(:long)%></li>-->
		
		<li id="ses-more-info"> 
			<%= link_to "List of all episodes", 
				controller: "episodes", 
				action: "list_all_episodes", 
				id: s.id 
			%>
		</li><br>
	</ul>
<% end %>