<p><%=flash[:next_page]%></p>
<p>
<%@time_now.each_with_index do |time,index|%>
<%=time%>
<%=@serie_air_date[index]%><br>
<%end%>
</p>

<br>
<br>
<br>
<br>
<%@found.each do |serie|%>
 <p><%=serie%></p>
<%end%>
