<% @episodes.each do |e| %>
	<ul class="list-epi">
		<li> <%= e.title %> </li>
		<li> Air Date /<%= e.air_date %>/ </li>
		<li id="epi-more-info"> <%= link_to "More Information", controller: "episodes", action: "show", id: e.id %> </li>
		<br>
	</ul>
<% end %>