/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
*{
	color:black;
	font-size:16px;
	font-family: verdana, arial, helvetica, sans-serif;
}
body{
	background-color:silver;
	text-align:center;
}

.content div {
	float: left;
	border: 1px solid black;
	padding: 5px;
	margin: 5px;
}

.main {
	width: 60%;
}

.userpanel {
	width: 20%
}

footer {
	clear: both;
}

input,select,textarea,button{
	color:LightCyan;
	background-color:grey;
	border-radius:5px;
	border:2px solid white;
}
input:focus{
	border:2px solid lightgreen;
}
input[type="submit"],button{
	border-radius:20px;
	border:2px solid white;
	border-bottom-width:4px;
}
input[type="submit"]:hover,button:hover{
	border:3px solid LightGreen;
}