/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
*{
	color: #FFFFFF;
	font-size:16px;
	font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
	text-decoration: none;
}

body{
	background-color: #FFFFFF;
	text-align: center;
}

.content {
	height: 600px;
}

.content div {
	float: left;
	border: 1px solid #383838; 
	padding: 5px;
	margin: 5px;
	background-color: #585858;
}

.main {
	width: 50%;
	height: 90%;
	float: left;
	overflow-y: scroll;
}

.main div {
	width: 80%;
	position: relative;
	border: none;
	margin: 5px 50px 50px 50px;
	padding: 15px;
}

.main div textarea{
	width: 80%;
	margin: 2px;
}

.main div button {
	width: 20%;
}

.main div input {
	width: 80%;
}

.main div select {
	width: 80%;
}

form#login>input[type="submit"] {
	width: 120px;
}

form#login>* {
	width: 250px;
	margin: 1%;
}

form#register>input[type="submit"] {
	width: 100px;
}

form#register>input, select {
	width: 250px;
}

#country {
	width: 250px;
}

.userpanel {
	width: 24%;
	height: 90%;
	float: left;
	border-radius: 0 50px 50px 0;
}

.userpanel div {
	border: none;
	/*override the .content div, so form_tag hidden field border wont appear */
}

.userpanel ul li {
	text-decoration: none;
}

.navbar {
	width: 20%;
	height: 90%;
	float: left;
	border-radius: 50px 0 0 50px;
}

footer {
	clear: both;
}

input,select,textarea,button{
	color:black;
	background-color:#FFFFFF;
	border-radius:5px;
	border:2px solid white;
}

input:focus{
	border:1px solid #FFFFFF;
}

.badbutton{
	width: 120px;
}

input[type="submit"], button{
	border-radius: 20px;
	border: 1px solid #FFFFFF ;
	border-bottom-width: 4px;
	width: 120px;
	margin: 4px;
}

input[type="submit"]:hover,button:hover{
	border: 1px solid black;
	border-radius: 20px;
	border-bottom-width: 4px;
	width: 120px;
	margin: 4px;
}