/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
*{
	color:black;
	font-size:16px;
	font-family: verdana, arial, helvetica, sans-serif;
}
body{
	background-color:#99CCFF;
	text-align:center;
}

.content div {
	float: left;
	border: 2px solid #383838; 
	padding: 5px;
	margin: 5px;
	background-color: grey ;
}

.main {
	width: 50%;
	height: 500px;
	float: left;
}

.main div {
	width: 80%;
	position: relative;
	border: none;
	margin: 5px 50px 50px 50px;
	padding: 15px;
}

.main div textarea{
	width: 80%;
	margin: 2px;
}

.main div button {
	width: 20%;
}

.main div input {
	width: 80%;
}

.main div select {
	width: 80%;
}

form#login>input[type="submit"] {
	width: 20%;
}

.userpanel {
	width: 20%;
	height: 500px;
	float: left;
}

.navbar {
	width: 20%;
	height: 500px;
	float: left;
}

footer {
	clear: both;
}

input,select,textarea,button{
	color:black;
	background-color:#FFCC66;
	border-radius:5px;
	border:2px solid white;
}
input:focus{
	border:2px solid lightgreen;
}
input[type="submit"],button{
	border-radius:20px;
	border:2px solid #383838 ;
	border-bottom-width:4px;
}
input[type="submit"]:hover,button:hover{
	border:3px solid LightGreen;
}