// Place all the styles related to the Series controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.list {
	list-style-type: none;
	border-bottom: 1px solid #FFFFFF;
	overflow: hidden;
}

ul.list>li {
	float: left;
	margin-right: 1%;
	font-size: 18px;
}

ul.list>li#more-info {
	float: right;
	padding-bottom: 5px; 
}

ul.list>li#more-info:hover {
	text-decoration: underline; 
}

ul.show-list {
	list-style-type: none;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	overflow: hidden;
}

ul.show-list>li {
	float: left;
	margin-right: 1%;
	font-size: 18px;
	clear:both;
	text-align: left;
}

ul.show-list>li#descr-li{
	text-align: left;
}

ul>li.comnt-menu {
	border-top: 1px solid #FFFFFF;
	padding-top: 10px;
}

form#post_comment> input,textarea {
	width: 300px;
}

form#post_comment>input[type="submit"] {
	width: 120px;
}
