<h1>Search for serie</h1>
<p><%=notice %></p>
<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>


    <%= form_tag("/series", method: "post",id:"search") do %>
      <p>
        <%= text_field_tag(:criteria,"",:required => true) %><br>
        <%= submit_tag("Search") %>
      </p>
    <% end %>

  </tbody>
</table>
