<h1>Search results</h1>

<% @series.each do |s| %>
	<ul class="list">
		<li> <%= s.title %>- </li> 
		<li> <%= s.year %> </li><br>
		<li id="more-info"> <%= link_to "More Information", controller: "series", action: "show", id: s.id %> </li>
	</ul><br>
<% end %>