<h1>Search results</h1>

<ul>
	<% @series.each do |s| %>
		<li> Title: <%= s.title %> </li> 
		<li> Year: <%= s.year %> </li>
		<li> <%= link_to "More Information", controller: "series", action: "show", id: s %> </li>
	<% end %>
</ul>