<div class="panel panel-primary">
	<h1 class="panel-heading">Search results</h1>

	<div class="table-body">
		<ul class="list-group">
		<% @series.each do |s| %>
			<li class="list-group-item">
				<%= s.title %>-
				<%= s.year %>
				<span class="badge">
				<%= link_to "More Information", controller: "series", action: "show", id: s.id	%>
				</span>
			</li> 
		<% end %>
		</ul>
	</div>
</div>