<div class="panel panel-primary">
	<h1 class="panel-heading">Search results</h1>

	<div class="table-body">
		<ul class="list-group">
		<% @series.each do |s| %>
			<li class="list-group-item">
				<%= s.title %>-
				<%= s.year %>
			</li>
			<li class="list-group-item">
			<%= link_to "More", 
					{controller: "series", 
					action: "show", 
					id: s.id},
					:class => "btn btn-warning"	
				%> 
			</li><br>
		<% end %>
		</ul>
	</div>
</div>