<%content_for :navigation_sidebar do%> 

	<ul class="menu">
		<li>
			<%= button_to "Contacts", 
				"/users/send_contact_mail", 
				:class => "button", 
				:method => :get  
			%>
		</li>
		<li>
			<%= button_to "Search", 
				"/", 
				:class => "button", 
				:method => :get  
			%>
		</li>
	</ul>

<%end%>